body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    text-align: center;
}

.texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffe6e6;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.texto p {
    font-size: 24px;
    text-align: center;
}

@keyframes mover {
    0% { transform: translateY(-20px); }
    50% { transform: translateY(20px); }
    100% { transform: translateY(-20px); }
}

.container img {
    position: absolute;
    animation: mover 3s infinite;
}

.container img:nth-child(1) {
    top: 10%;
    left: 10%;
    max-width: 40%; /* Ajustamos el ancho máximo del osito */
}

.container img:nth-child(2) {
    top: 10%;
    right: 10%;
    max-width: 40%; /* Ajustamos el ancho máximo de la flor */
}

